{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="{% static 'main.css'%}">
    
</head>
<body>
    <nav class="navbar is-black" id="navbarapp">
        <div class="navbar-brand">
            <a href="{% url 'home' %}" class="navbar-item">AddisBet</a>
            <a @click="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-exended="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="main-navbar" :class="{'is-active': classMenu}">

            <div class="navbar-start">
                <div class="navbar-item">
                    <form method="get" action="{% url 'search' %}">
                        <div class="field has-addons">
                            <div class="control">
                                <input type="text" class="input" placeholder="Seach ..." name="query">
                            </div>
                            <div class="control">
                                <button class="button is-success">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="navbar-end">
                
                <div class="navbar-item">
                    <a href="{% url 'add_akeray' %}">Akeray</a>
                </div>

                <div class="navbar-item">
                    <a href="{% url 'tekeray' %}">Tekeray</a>
                </div>

                <div class="navbar-item">
                    <a href="{% url 'about' %}">About</a>
                </div>
                
                <div class="navbar-item">
                    <a href="{% url 'contact' %}">Contact</a>
                </div>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item">
                        <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <a href="{% url 'signup' %}" class="button is-primary"><strong>SignUp</strong></a>
                    </div>
                    <div class="navbar-item">
                        <a href="{% url 'login' %}" class="button is-light">Login</a>
                    </div>
                {% endif %}
                <div class="navbar-item">
                    <a href="{% url 'gofor' %}" class="button is-success">Favourites</a>
                </div>
            </div>

        </div>
        

    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
<br>
    <footer class="footer">
        <div class="columns">
            <div class="column is-4">
                <h2 class="subtitle">AddisBet</h2>
            </div>
            
            <div class="column is-8">
                <a href="{% url 'contact' %}"class="navbar-item">Contact</a>
                <a href="{% url 'about' %}"class="navbar-item">About</a>
            </div>
        </div>
    </footer>

    <script>
        var navbarapp = new Vue({
            el: ('#navbarapp'),
            delimiters: ['[[',']]'],
            data() {
                return {
                    classMenu: false
                }
            },
            methods: {
                toggleMenu() {
                    console.log('Togglemenu')

                    this.classMenu = !this.classMenu;
                }
            }
        })
    </script>

    {% block scripts %}
    {% endblock %}
</body>
</html>