{% extends 'base.html' %}
{% block title %} contact | {% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="navbar-item">
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <input type="submit" value="Yes" />
            <a href="/">Cancel </a>
        </form>
    </div>
{% else %}
    <div class="notification is-danger">
        <p>Sorry you can't delete this item!</p>
    </div>
{% endif%}
   
{% endblock %}